/* Reset default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #ece9e6, #ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
    padding: 20px;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
    max-width: 500px;
    width: 100%;
    text-align: center;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1; /* Ensure container is on top */
}

.container:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #007bff;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

form {
    width: 100%;
    margin-bottom: 20px; /* Ensure spacing between forms */
}

button {
    background: linear-gradient(135deg, #007bff, #0056b3);
    color: white;
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    display: inline-block;
    width: 100%;  /* Ensure buttons take full width */
    max-width: 320px; /* Max width for buttons */
    margin: 5px auto; /* Center buttons */
}

button i {
    margin-right: 8px;
}

button:hover {
    background: linear-gradient(135deg, #0056b3, #003f7f);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

input[type="number"], input[type="text"], input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

input[type="text"]:focus, input[type="submit"]:focus {
    box-shadow: 0 2px 8px rgba(0, 123, 255, 0.2);
    outline: none;
}

p {
    margin-top: 30px;
    font-size: 14px;
    color: #777;
}

p a {
    color: #007bff;
    text-decoration: none;
}

p a:hover {
    color: #0056b3;
}

@media (max-width: 600px) {
    .container {
        padding: 40px 20px;
    }

    h2 {
        font-size: 24px;
    }

    button {
        font-size: 14px;
        padding: 12px 18px;
    }
}
